*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
h2{
    margin-right: 50%;
}
#picture{
    width: 65%;
    height: 0%;
}
p{
    color: orange;
}
/* #picture{
    #picture{
        width: 100%;
        height: 100%;
    }
} */